<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Portfolio</title>
    {#      fontawesome link#}
    <script src="https://kit.fontawesome.com/7427371865.js" crossorigin="anonymous"></script>
    
{% load static %}
{# Main CSS #}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
{# Mobile responsive #}
<link rel="stylesheet" href="{% static 'media queries.css' %}"/>


</head>
<body>
{# NAVIGATION DESIGN #}
<nav id="nav-bar">
    <div class="logo">Bryium Onyancha</div>
    <div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>

{# Home Section Design #}
<nav id="hamburger-nav">
    <div class="logo">Bryium Onyancha</div>
    <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
             <span></span>
             <span></span>
        </div>
        <div class="menu-links">
            <li><a href="#about" onclick="toggleMenu()">About</a></li>
            <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
            <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
            <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
    </div>
</nav>
 <script src="{% static 'script.js' %}"></script>
</body>

</html>
