<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Portfolio</title>
    {#      fontawesome link#}
    <script src="https://kit.fontawesome.com/7427371865.js" crossorigin="anonymous"></script>

    {% load static %}
    {# Main CSS #}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    {# Mobile responsive #}
    <link rel="stylesheet" href="{% static 'media queries.css' %}"/>


</head>
<body>
{# NAVIGATION DESIGN #}
<nav id="nav-bar">
    <div class="logo">Bryium Onyancha</div>
    <div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>

{# HAMBURGER MENU #}
<nav id="hamburger-nav">
    <div class="logo">Bryium Onyancha</div>
    <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-links">
            <li><a href="#about" onclick="toggleMenu()">About</a></li>
            <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
            <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
            <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
    </div>
</nav>

{# PROFILE SECTION #}

{% load static %}
<section id="profile">
    <div class="section_pic-container">
        <img src="{% static 'assets/profile-pic.jpg' %}" alt="Bryium Onyancha profile picture">
    </div>
    <div class="section_text">
        <p class="section_text_p1">Hello, I'm</p>
        <h1 class="title">Bryium Onyancha</h1>
        <p class="section_text_p2">Software Engineer </p>
        <div class="btn-container">
            <button class="btn btn-color-2" onclick="window.open('{% static 'assets/Resume.pdf' %}')">
                Download CV
            </button>
            <button class="btn btn-color-1" onclick="location.href='#contact'">
                Contact info
            </button>
        </div>
        <div id="socials-container">
            <a href="https://www.linkedin.com/in/bryium/" target="_blank" aria-label="My LinkedIn profile">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/Bryium" target="_blank" aria-label="My Github profile">
                <i class="fa-brands fa-github" style="color: #000000;"></i>
            </a>
        </div>
    </div>
</section>

{# ABOUT SECTION #}
<section id="about">
  <p class="section_text_p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section__pic-container">
      <img src="{% static 'assets/about-pic.jpg' %}" alt="profile picture" class="about-pic">
    </div>
    <div class="about-details-container">
      <div class="about-containers">
        <div class="details-container">
          <i class="fa-solid fa-award"></i>
          <h3>Experience</h3>
          <p>2+ years <br />Frontend Development</p>
        </div>
        <div class="details-container">
          <i class="fa-solid fa-user-graduate"></i>
          <h3>Education</h3>
          <p>Bachelors Degree<br />B.Sc. Information Technology</p>
        </div>
      </div>
      <div class="text-container">
        <p>
          As a proficient developer, I thrive
          in crafting captivating and user-friendly web applications by
          harnessing the power of HTML,
          CSS (especially with the Tailwind
          CSS framework), and JavaScript,
          along with the dynamic
          capabilities of the React
          framework. My expertise
          seamlessly extends to backend
          development, where I excel in
          utilizing Node.js and Python,
          particularly with frameworks like
          Django, to build robust and
          scalable solutions. With a keen
          focus on database management
          and API development, I ensure
          data integrity and efficiency
          throughout the development
          process. Additionally, my
          prowess extends to Android
          development, specializing
            </p>
      </div>
    </div>
  </div>
   <i class="fa-solid fa-angles-down" onclick="navigateToExperience()"></i>
<script>
  function navigateToExperience() {
    window.location.href = './#experience';
  }
</script>

</section>
<script src="{% static 'script.js' %}"></script>
</body>

</html>
